#tk-add {
  margin-top: 20px;

  .tk-input {
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;

    input {
      width: 100%;
    }

    .tk-info {
      margin-top: 10px;

      p {
        font-size: 12px;
        line-height:14px;
        margin-bottom: 0;
      }
    }
  }
}